<div class="header">
    <div id="date">
    </div>
    <a href="/"><img src="https://assets.stickpng.com/thumbs/58af004d6c252499281ae910.png" title="https://www.stickpng.com/img/download/58aeffb2c869e092af51ee74" alt="Paw print image"></a>
    <h1>Find a friend</h1>
    <a href="/"><img src="https://assets.stickpng.com/thumbs/58af004d6c252499281ae910.png" title="https://www.stickpng.com/img/download/58aeffb2c869e092af51ee74" alt="Paw print image"></a>   
</div>