<div class="content">
    <h1><u>Available pets:</u></h1>
    <div class="samplePet browseImg">
        <img src="https://images.unsplash.com/photo-1591306875868-10df05199cd4?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" title="https://unsplash.com/photos/black-long-coat-large-dog-on-grey-pathway-during-daytime-8OS99a1t8Io" alt="First sample pet"> 
        <input type="button" id="interested1" value="Interested">
        <br><h3>Breed: Spaniel</h3>
        <h3>Age: 2 to 4 years old</h3>
        <h3>Gender: Female</h3>
        <h3>Gets along with:</h3>
        <ul>
            <li>Children</li>
            <li>Other dogs</li>
        </ul>
        <h3>More about her:</h3>
        <p>She is an adorable little spaniel who was found wandering a park and scavenging for scraps. She was immediately very friendly and docile but unfortunately there is no place for her here so she is looking for her forever home.</p>
        <h3>Owner name: Gracy Owens</h3>
        <p>Contact: gracy.owens@savedogs.org</p>
    </div>

    <div class="samplePet browseImg">
        <img src="https://images.unsplash.com/photo-1616197006561-97078ff7877d?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJyaXRpc2glMjBzaG9ydGhhaXIlMjBjYXR8ZW58MHx8MHx8fDA%3D" title="https://unsplash.com/photos/russian-blue-cat-on-black-textile-S7DSARel-c4" alt="Second sample pet"> 
        <input type="button" id="interested2" value="Interested">
        <br><h3>Breed: British shorthair</h3>
        <h3>Age: 6 to 10 years old</h3>
        <h3>Gender: Female</h3>
        <h3>Gets along with:</h3>
        <ul>
            <li>Other cats</li>
        </ul>
        <h3>More about her:</h3>
        <p>She is a shy but well tempered british shorthair who lived with my daughter until she passed away recently. It hurts me to have to give Cookies away but I'm unfortunately leaving the country and can't take care of her. Please help this beauty end her life in the comfort of a loving owner. She is independent and litter trained and loves to cuddle.</p>
        <h3>Owner name: Sarah Lovegood</h3>
        <p>Contact: opals.mirroredintime@gmail.com</p>
    </div>

    <div class="samplePet browseImg">
        <img src="https://images.unsplash.com/photo-1555699240-a4c509eb752f?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" title="https://unsplash.com/photos/white-chihuahau-7Za7c7F-2eM" alt="Third sample pet"> 
        <input type="button" id="interested3" value="Interested">
        <br><h3>Breed: Chihuahua</h3>
        <h3>Age: 10 and above</h3>
        <h3>Gender: Male</h3>
        <h3>Gets along with:</h3>
        <h3>More about her:</h3>
        <p>This little demon was just like my grandmother: mean, seemingly immortal, judgemental and prone to bouts of confusion and anger. If you think you can take him on by all means take him off my hands. Granny used to say he had a kind heart so if you can find it then he might be a worthy companion but no promises.</p>
        <h3>Owner name: George Farro</h3>
        <p>Contact: georgetheclown@yahoo.com</p>
    </div>
</div>