<div class="content">
    <h1>Disclaimers:</h1><br>
    <h3> Your private information will not be shared, sold or misused for resons other than the functioning of adoption transactions.
        <br>No scam calls from us!
    </h3><br><br>
    <h3>We are not liable for any incorrect information put up by other users of this website.</h3>
</div>