<div class="content">
    <% if(typeof message !== 'undefined' && message) { %>
        <p><%= message %></p><br>
    <% } %>
    Welcome to Find a friend&trade; we are here to help you find your perfect new friend!<br><br>
    <p>
        Here at Find a friend&trade; we are determined to provide you with the best adoption service possible!
    </p>
    <img id="firstimg" src="https://images.unsplash.com/photo-1560132248-d946352460e3?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Poodle smiling" title="https://unsplash.com/photos/white-long-coat-small-dog-Ya-CK-_v_ZE">
    <p>
        To do this we have partnered with pet parents from all over the world to find you animals of all breeds, ages and temperaments in need of a loving family and a tender home.<br>
        So come and explore all we have to offer and go find your furry best friend (unless it's a sphynx cat they're creepy) or put up pets in desperate need of adoption so that they can finally find their pack!
    </p>
    <p>
        What are you waiting for? Make your perfect family with your newest addition of dog, cat or both! It'll liven up your household and bring joy and renewal to your life.
    </p>
    <img id="secondimg" src="https://images.unsplash.com/photo-1601758261049-55d060e1159a?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Family with dog" title="https://unsplash.com/photos/man-in-black-jacket-holding-brown-short-coated-dog-1p7TrM0LkXc">
    <p>
        Our adoption algorithm is top of the world and provides with the best matches for <em>your</em> family. We also allow you to come into contact with fellow pet lovers in a safe and manageable way without having to deal with cryptic or overly complicated ads onsocial media.<br>
        Our service's main goal is to pull communiyties together over their love of furry friends and facilitate homes stuggling with finding a home for nursed animals, litters of new cute pups and kittens and furry friends that have to be left behind because of circumstances.<br>
        So what are you waiting for? Go find your friends both animal and human and help make your community a better place for humanity's best friends.
    </p>
</div>